<div class="content bg-white border-b">
  <div class="row items-push text-uppercase">
    <div class="col-xs-6 col-sm-3">
      <div class="font-w700 text-gray-darker animated fadeIn">Sales</div>
      <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)">17980</a>
    </div>
    <div class="col-xs-6 col-sm-3">
      <div class="font-w700 text-gray-darker animated fadeIn">Products</div>
      <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)">27</a>
    </div>
    <div class="col-xs-6 col-sm-3">
      <div class="font-w700 text-gray-darker animated fadeIn">Followers</div>
      <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)">1360</a>
    </div>
    <div class="col-xs-6 col-sm-3">
      <div class="font-w700 text-gray-darker animated fadeIn">739 Ratings</div>
      <div class="text-warning push-10-t animated flipInX">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
        <span class="text-muted">(4.9)</span>
      </div>
    </div>
  </div>
</div>
<script src="js/controllers/announce.js"></script>