<div class="content bg-gray-lighter">
  <div class="row items-push">
    <div class="col-sm-7">
      <h1 class="page-heading">
        Blank <small>That feeling of delight when you start your awesome new project!</small>
      </h1>
    </div>
    <div class="col-sm-5 text-right hidden-xs">
      <ol class="breadcrumb push-10-t">
        <li>Generic</li>
        <li><a class="link-effect" href="">Blank</a></li>
      </ol>
    </div>
  </div>
</div>
<div class="content">
  <div class="block">
    <div class="block-header">
      <ul class="block-options">
        <li>
          <button type="button"><i class="fa fa-plus-circle"></i></button>
        </li>
      </ul>
      <h3 class="block-title">静态页面管理</h3>
      <div class="p-t-20">
        <div class="alert alert-warning alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <h3 class="font-w300 push-15">Warning</h3>
          <p>admin able to add a new order when click the icon witch at right</p>
        </div>
      </div>
    </div>
    <div class="block-content">
      <div class="table-responsive">
        <table class="table table-striped table-vcenter">
          <thead>
          <tr>
            <th class="text-center" style="width: 30px;"></th>
            <th>id</th>
            <th>页面名称</th>
            <th>分组名称</th>
            <th>updateAt</th>
            <th>createAt</th>
            <th class="text-center" style="width: 100px;">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="text-center">1</td>
            <td>
              123123
            </td>
            <td>
              如何付款
            </td>
            <td>
              帮助中心
            </td>
            <td>
              2015-01-01 01:01:00
            </td>
            <td>
              2015-01-01 01:01:00
            </td>
            <td class="text-center">
              <div class="btn-group">
                <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="Edit Client"><i class="fa fa-pencil"></i></button>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-center">1</td>
            <td>
              123123
            </td>
            <td>
              如何付款
            </td>
            <td>
              帮助中心
            </td>
            <td>
              2015-01-01 01:01:00
            </td>
            <td>
              2015-01-01 01:01:00
            </td>
            <td class="text-center">
              <div class="btn-group">
                <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="Edit Client"><i class="fa fa-pencil"></i></button>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-center">1</td>
            <td>
              123123
            </td>
            <td>
              如何付款
            </td>
            <td>
              帮助中心
            </td>
            <td>
              2015-01-01 01:01:00
            </td>
            <td>
              2015-01-01 01:01:00
            </td>
            <td class="text-center">
              <div class="btn-group">
                <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="Edit Client"><i class="fa fa-pencil"></i></button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="fix">
          <ul class="pagination r">
            <li class="disabled"><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="js/controllers/content-static_pages.js"></script>